h1 {font-size: 42pt }
#one {color: orange }
h1 {font-family: arial black }
img {max-width: 300px ; border-radius: 5pt ; border-color: grey; border-style: solid;
border-bottom: solid; }
a{font-size: 22px; font-family: arial black; text-underline-position: }
a:link {color: black; text-decoration: none;	}
a:visited {color: green; text-decoration: line-through;}
a:hover {color: red; text-decoration: none;}
a:active {color: transparent;text-decoration: none;}
img:hover {max-width: 720px }
.div { padding: 15px; border: 0px solid #bacdd3
	;border-top-width: 5px; width: 100%
}
.wrap {
	float: left; box-sizing: border-box;
}
h1 {
	max-width: 100%; text-align: center;

}
.head {
	border-right: 5px;border-left: 5px;
}