h1 {font-size: 42pt }
#one {color: orange ;
	animation-name: orange;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;

}
h1 {font-family: 
	arial black 
}
img {	
	max-width: 300px ; 
	border-radius: 5pt ; 
	border-color: grey; 
	border-style: solid;
	border-bottom: solid; }
a{	font-size: 22px; 
	font-family: arial black; 
	text-underline-position: }
a:link {color: black; text-decoration: none;	}
a:visited {color: green; text-decoration: line-through;}
a:hover {color: red; text-decoration: none;}
a:active {color: transparent;text-decoration: none;}
img:hover {max-width: 720px }
.div { padding: 15px; border: 0px solid #bacdd3
	;border-top-width: 5px; width: 100%
}
.wrap {
	float: left; box-sizing: border-box;
}
h1 {
	max-width: 100%; text-align: center;

}
.head {
	border-right: 5px;border-left: 5px;
}
@keyframes orange {
	0% 	{color: orange; opacity: 1}
	25% {color: red; opacity: 0.7}
	50%	{color : lightgreen; opacity: 0.5}
	75%	{color: lightblue; opacity: 0.7}
	100% {color: purple; opacity: 1}
}
.credit {
	float: right;
	position: fixed;
	bottom: 10px;
	right: 10px;
	animation-name: credit;
	animation-duration: 8s;
	animation-delay: 7s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	opacity: 0;
}
@keyframes credit {
	0%	{margin-right: 300px;opacity: 0}
	50%	{margin-right: 10px;opacity: 1}
	100%	{margin-right: 100px;opacity: 0}
}
.circle {
	
 border-radius: 50%;
 position:fixed;
 height: 30px;
 width: 30px;
 float: right;
 bottom: 30px;
 right: 30px;
}
.butt {
	height: 30px;
	width: 30px;
}
.toTop
{
 width: 46px;    
 height: 46px;
  position: fixed;
 background: url(https://sites.google.com/site/nvnhan2910/images/toTop.png) 0 0 no-repeat;    
 cursor: pointer;
 float: right;
 bottom: 30px;
 right: 30px;
 opacity: 0.5;   
 -ms-filter: "alpha(opacity=50)";
 filter: alpha(opacity=50); 
 -moz-opacity: 0.5;
 -khtml-opacity: 0.5;
 z-index: 999;
}
.toTop:hover, .toTop:focus
{
 transition: 0.2s;   
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
 opacity: 1;    
 -ms-filter: "alpha(opacity=100)";
 filter: alpha(opacity=100); 
 -moz-opacity: 1;
 -khtml-opacity: 1;
}
.heading { 
	animation-name: heading;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;

}
@keyframes heading {
	0% 	{background-color: purple; opacity: 1}
	25% {background-color: orange; opacity: 0.7}
	50%	{background-color: red; opacity: 0.5}
	75%	{background-color: lightgreen; opacity: 0.7}
	100% {background-color: lightblue; opacity: 1}
}
}





